- name: Instalar paquetes de cargo para todos
  community.general.cargo:
    name:
      - yazi-build
      - lsd
      - bat
      - exa 
      - fd-find
      - procs
      - ripgrep
      - ytop
      - tealdeer
      - zoxide
      - rnr
      - mdcat
      - zellij
    path: /usr/local
    state: latest
  environment:
    PATH: "{{ ansible_env.PATH }}:/root/.cargo/bin"
